main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    /* height: 100%; */
    /* margin: auto; */
    background-color: #eee9e9;
    box-shadow: 13px 13px 0px 0px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    /* border: solid 2px var(--color-indigo); */

}

.login form{
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
}

.login form .form-check-label:hover{
    color: var(--color-indigo)
}

/* Cambiar estilo para dispositivos con ancho de 768px o menos (tablets/móviles) */
@media screen and (max-width: 768px) {
    .login {
        width: 90%;
        padding: 1.5rem 1rem;
    }
}