:root{
    --color-indigo: #7030a0;
    --color-indigo-hover: #431c61;
    --color-indigo-light: #875fa5;
    --color-light: #eee9e9;
    --brutus-shadow-light: rgb(186 159 193);
}

/*  Footer abajo */
html {
  height: 100%; /* Asegura que el html ocupe todo el alto */
}

body{
    min-height: 100vh;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 2;
}

.btn-indigo {
    background-color: var(--color-indigo);
    color: #fff;
}

.bg-indigo{
    color: #fff;
    background-color: #431c61;
}

.btn-indigo:hover {
    background-color: var(--color-indigo-hover);
    color: #fff;
}

.btn-indigo:disabled {
    background-color: #875fa5;
    color: #fff;
    cursor: not-allowed;
}

.text-indigo{
    color: var(--color-indigo);
}

/* .bg-indigo {
    background-color: var(--color-indigo);
    color: #fff;
} */

.check-indigo{
    background-color: #875fa5;
}

.check-indigo:checked {
    background-color: var(--color-indigo);
    border-color: var(--color-indigo);
}

.check-indigo:focus{
    border-color: var(--color-indigo-hover);
    outline:0;
    box-shadow:0 0 0 .25rem #875fa5
}

.input-indigo{
    border-color: var(--color-indigo);
}

.input-indigo:focus {
    border-color: var(--color-indigo-hover);
    outline:0;
    box-shadow:0 0 0 .25rem #875fa5
}

.border-indigo{
    border-color: var(--color-indigo);
}

/* ========== Brutus ========== */
a.btn-brutus{
    text-decoration: none;
    /* border-radius: 10px; */
}

.btn-brutus{
    border: none;
    padding: 0.5rem 1rem;
    box-shadow: 10px 10px 0px 0px var(--brutus-shadow-light);
}

.btn-brutus:hover{
    transition: .4s;
    box-shadow: none;
}

.input-brutus{
    border: none;
    border-radius: 0;
    padding: 0.5rem 1rem;
    box-shadow: 10px 10px 0px 0px var(--brutus-shadow-light);
}

.input-brutus:hover{
    transition: .4s;
    box-shadow: none;
}

.input-brutus:focus {
    outline:0;
    /* box-shadow:0 0 0 .25rem #875fa5 */
    box-shadow: none;
    
}

.brutus{
    box-shadow: 13px 13px 0px 0px rgba(0, 0, 0, 0.3);
}

.brutus-hover:hover{
    transition: .4s;
    box-shadow: none;
}

.brutus-light{
    box-shadow: 10px 10px 0px 0px var(--brutus-shadow-light);
}

div.dt-buttons > .dt-button{
    background-color: var(--color-indigo);
    color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 10px 10px 0px 0px var(--brutus-shadow-light);
}

div.dt-buttons > .dt-button:hover:not(.disabled){
    transition: .4s;
    border: none;
    box-shadow: none;
    background: var(--color-indigo-hover);
}

/* ========== Alerts ========== */
.msg{
    padding: .5rem 1.5rem;
    border: solid 1px #fff;
}

.msg-danger{
    background-color: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
}

.msg-success{
    background-color: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}

/* ========== Utils ========== */
.cursor-pointer{
    cursor: pointer;
}

.border-none{
    border: none;
}


/* ========== nav ========== */
.menu{
    display: flex;
    justify-content: space-between;
    padding: 10px .5rem;
    background-color: var(--color-indigo-light);
}

.menu .togler{
    font-size: 2rem;
    border: none;
    background: none;
    color: #eee9e9;
}

.menu .togler:focus{
    outline: none;
    box-shadow: none !important;
}

.menu .nav-link{
    color: #eee9e9;
    font-size: 1.2rem;
}

.menu .nav-link:hover,
.menu .nav-link:focus,
.menu .nav-link:active{
    color: var(--color-indigo-hover);
}

/* ========== HEADER ========== */
header{
    max-height: 200px;
    background-color: #eee9e9;
    color: var(--color-indigo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 15px 20px;
    height: 20vh;
    min-height: 150px;
    max-height: 200px;
}

header .mision{
    max-height: 120px;
    width: auto;
    max-width: 100%;
}

header .logo{
    max-height: 120px;
    box-shadow: 10px 10px 0px 0px var(--brutus-shadow-light);
}

header .logo:hover{
    transition: .4s;
    box-shadow: none;
}

/* ========== FOOTER ========== */
footer{
    padding: 3px;
    color: #eee9e9;
    background-color: #1d0a1b;
}

/* ========== Responsive ========== */
@media screen and (max-width: 768px) {
    body { font-size: 16px; }
    /* header */
    header{
        justify-content: space-around;
    }
    header .mision{
       display: none;;
    }
    header .logo{
        height: 20vh;
        max-height: 150px;
    }

}