:root{
    --color-indigo: #7030a0;
    --color-indigo-hover: #431c61;
    --color-light: #eee9e9;
    --brutus-shadow-light: rgb(186 159 193);
}

.btn-indigo {
    background-color: var(--color-indigo);
    color: #fff;
}

.btn-indigo:hover {
    background-color: var(--color-indigo-hover);
    color: #fff;
}

.btn-indigo:disabled {
    background-color: #875fa5;
    color: #fff;
    cursor: not-allowed;
}

.text-indigo{
    color: var(--color-indigo);
}

.bg-indigo {
    background-color: var(--color-indigo);
    color: #fff;
}

.check-indigo{
    background-color: #875fa5;
}

.check-indigo:checked {
    background-color: var(--color-indigo);
    border-color: var(--color-indigo);
}

.check-indigo:focus{
    border-color: var(--color-indigo-hover);
    outline:0;
    box-shadow:0 0 0 .25rem #875fa5
}

.input-indigo{
    border-color: var(--color-indigo);
}

.input-indigo:focus {
    border-color: var(--color-indigo-hover);
    outline:0;
    box-shadow:0 0 0 .25rem #875fa5
}

.border-indigo{
    border-color: var(--color-indigo);
}

/* ========== Brutus ========== */
a.btn-brutus{
    text-decoration: none;
    /* border-radius: 10px; */
}

.btn-brutus{
    border: none;
    padding: 0.5rem 1rem;
    box-shadow: 10px 10px 0px 0px var(--brutus-shadow-light);
}

.btn-brutus:hover{
    transition: .4s;
    box-shadow: none;
}

.input-brutus{
    border: none;
    border-radius: 0;
    padding: 0.5rem 1rem;
    box-shadow: 10px 10px 0px 0px var(--brutus-shadow-light);
}

.input-brutus:hover{
    transition: .4s;
    box-shadow: none;
}

.input-brutus:focus {
    outline:0;
    box-shadow:0 0 0 .25rem #875fa5
}

/* ========== Utils ========== */
.cursor-pointer{
    cursor: pointer;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 1rem;
    border-bottom: var(--color-indigo-hover) solid 1px;
}

nav .btn-nav{
    /* background-color: ; */
    /* border: #000 solid 1px; */
    border: var(--color-indigo-hover) solid 1px;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: var(--color-indigo);
    color: #eee9e9;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
}

nav .btn-nav:hover{
    color: #eee9e9;
    transition: .4s;
    box-shadow: none;
    border-color: transparent;
}

/* Footer abajo */
html {
  height: 100%; /* Asegura que el html ocupe todo el alto */
}

body{
    min-height: 100vh;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 2;
}

/* ========== HEADER ========== */
header{
    max-height: 200px;
    background-color: #eee9e9;
    color: var(--color-indigo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

header .mision{
    max-height: 120px;
    width: auto;
    max-width: 100%;
    /* box-shadow: 10px 10px 0px 0px var(--brutus-shadow-light); */
}

/* header .mision:hover{
    transition: .4s;
    box-shadow: none;
    border: none;
} */

header .logo{
    max-height: 150px;
    width: auto;
    max-width: 100%;
    box-shadow: 10px 10px 0px 0px var(--brutus-shadow-light);
}

header .logo:hover{
    transition: .4s;
    box-shadow: none;
}

/* ========== FOOTER ========== */
footer{
    padding: 3px;
    color: #eee9e9;
    background-color: #1d0a1b;
}

/* ========== Responsive ========== */
@media screen and (max-width: 768px) {
    body { font-size: 16px; }
    /* header */
    header{
        justify-content: space-around;
    }
    header .mision{
       display: none;;
    }
    header .logo{
        height: 20vh;
        max-height: 150px;
    }

}