main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-box{
    background-color: #eee9e9;
    width: 80%;
    height: 80%;
    box-shadow: 13px 13px 0px 0px rgba(0, 0, 0, 0.3);
}

.table-box h2{
    color: #7030a0;;
}
